html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Заставляет main растягиваться и выталкивать footer вниз */
}
